<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pepperapp28aprile">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="com.softbank.hardware.pepper" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android:usesCleartextTraffic=true" />

    <uses-feature android:name="com.softbank.hardware.pepper" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/ThemeBlue">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CheckMattutino"
            android:label="@string/title_activity_check_mattutino"
            android:theme="@style/ThemeBlue.NoActionBar" />
        <activity
            android:name=".PepperLissenerActivity"
            android:label="@string/title_activity_pepper_lissener"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name=".RejectActivity"
            android:theme="@android:style/Theme.NoDisplay" />
        <activity
            android:name=".WebActivity"
            android:theme="@style/ThemeBlue.NoActionBar" />
        <activity
            android:name=".WebActivityRecognition"
            android:theme="@style/ThemeBlue.NoActionBar" />
        <activity
            android:name=".AcceptActivity"
            android:theme="@android:style/Theme.NoDisplay" />
        <activity
            android:name=".ButtonToNavActivity"
            android:label="@string/title_activity_check_mattutino"
            android:theme="@style/ThemeBlue.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/ThemeBlue.NoActionBar" />
        <activity
            android:name=".GameProfileActivity"
            android:label="@string/title_game_activity_profile"
            android:theme="@style/ThemeBlue.NoActionBar" />
        <activity
            android:name=".GameActivity"
            android:theme="@style/ThemeBlue.NoActionBar"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:label="@string/title_game_activity"
            />
    </application>

</manifest>